.haarlem-logo {
    background-image: url(../img/svg/logo.svg);
    width: 4em;
    background-size: 100% 100%;
}

.search-icon {
    background-image: url(../img/svg/search.svg);
    width: 32px;
    height: 32px;
    background-size: 100% 100%;
    margin-top: 12px;
}

.shopping-cart-icon {
    background-image: url(../img/svg/shopping-cart.svg);
    width: 43px;
    height: 43px;
    background-size: 100% 100%;
    margin-top: 20px;
    display: inline-block; /* Ensures the element behaves like a block */
    background-color: rgb(21, 162, 209); /* Background color for the box */
    border-radius: 5px; /* Rounded corners */
    padding: 8px; /* Padding around the icon */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Optional: adds a subtle shadow */
    vertical-align: middle; /* Aligns the icon vertically with text */ 
}

.user-icon {
    background-image: url(../img/svg/user.svg);
    width: 43px;
    height: 43px;
    background-size: 100% 100%;
    margin-top: 20px;
    display: inline-block; /* Ensures the element behaves like a block */
    background-color: rgb(21, 162, 209); /* Background color for the box */
    border-radius: 5px; /* Rounded corners */
    padding: 8px; /* Padding around the icon */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Optional: adds a subtle shadow */
    vertical-align: middle; /* Aligns the icon vertically with text */
    z-index: 2; /* Bring hovered item forward */
}

.facebook-icon {
    background-image: url(../img/svg/fb-icon.svg);
    width: 48px;
    height: 48px;
}

.twitter-icon {
    background-image: url(../img/svg/twitter-icon.svg);
    width: 48px;
    height: 48px;
}

.instagram-icon {
    background-image: url(../img/svg/instagram-icon.svg);
    width: 48px;
    height: 48px;
}

.spotify-icon {
    background-image: url(../img/svg/spotify-icon.svg);
    width: 48px;
    height: 48px;
}

.homepage-icon {
    background-image: url(../img/svg/home-icon.svg);
    width: 48px;
    height: 48px;
}

.btn-icon {
    background-size: 80% 80%;
    background-repeat: no-repeat;
    background-position: center;
}